@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../fonts/IBMPlexMono/IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: italic, oblique;
}