@import url(./fonts.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./table.css);
@import url(./toastify.css);

:root {
  --black: #000000;
  --grey500: #4B4B4B;
  --grey300: #979797;
  --grey100: #EEEEEE;
  --white: #FFFFFF;

  --transition-duration: 0.2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'IBMPlexMono';
}

.wrapper {
  max-width: 1170px;
  min-height: 100vh;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: 40px;
}

.svg-group {
  color: currentColor;
}

.details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.person-info {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid var(--black)
}

.person-info__header {
  display: flex;
  column-gap: 20px;
  font-style: italic;
  font-weight: 600;
  justify-content: space-between;
}

.person-info__fetch {
  background: none;
  border: none;
  outline: none;
  display: flex;
  color: var(--black);
  transition: color var(--transition-duration);
}

.person-info__fetch:hover, .person-info__fetch_active {
  color: var(--grey500);
}

.person-info__fetch:hover {
  cursor: pointer;
}

.person-info__fetch_active > svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.person-info__details {
  margin-top: 10px;
}

.person-info__group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.person-info__value {
  padding: 10px 0px;
  display: block;
}

.about__section + .about__section {
  margin-top: 40px;
}

.about__section__content {
  margin-top: 20px;
}

.about__section__title {
  font-weight: 500;
  font-style: normal;
}

.list-item {
  margin-top: 5px;
  margin-bottom: 10px;
  list-style-position: inside;
}

.list-item::marker {
  font-family: 'IBMPlexMono';
  font-weight: 500;
}

.list-item__text-content {
  font-family: 'Manrope';
  font-weight: 500;
}

.code {
  margin: 5px;
  padding: 10px;
  width: fit-content;
  display: block;
  background: var(--grey100);
}

.code + .code {
  margin-top: 10px;
}

.external-link {
  font-family: 'Manrope';
  font-weight: 600;
  text-decoration: underline;
  font-style: normal;
  color: var(--grey500);
  transition: color var(--transition-duration);
}

.external-link:hover {
  color: var(--grey300);
}